.outter-box {
  display: flex;
  flex-direction: column;
  border-style: solid;
  align-items: center;
}

.top-box {
  display: flex;
  border-style: solid;
}

.bottom-box {
  display: flex;
  flex-direction: row;
  border-style: solid;
}

.bottom-left-box {
  border-style: solid;
  align-items: center;
}

.bottom-left-box ul {
  list-style: none;
}


.bottom-right-box {

}
